<md-card style="position: relative; height: 300px;">
  <div flex layout="column" layout-align="center center"  class="overlay-card" ng-if="!game.buildings.gamblingHall">
    <md-card-content style="color:#fafafa">
      <h2>Gambling Hall</h2>
      <p>Try your luck betting here!</p>
    </md-card-content>
    <md-button
      md-no-ink
      ng-disabled="game.totalGold < gamblingHall.gamblingHallCost"
      class="md-primary md-raised"
      ng-click="gamblingHall.buyGamblingHall()">
      Build (cost {{gamblingHall.gamblingHallCost}})
    </md-button>
  </div>
  <md-card-title>
    <md-card-title-text ng-if="game.buildings.gamblingHall">
      <span class="md-headline">Gambling Hall</span>
    </md-card-title-text>
    <md-card-title-media ng-if="game.buildings.gamblingHall">
      <div class="md-media-lg card-media">
        <img ng-src="https://s-media-cache-ak0.pinimg.com/736x/8d/f0/5f/8df05fd9b10f7c01d0fc12bdc85383ec.jpg"/>
      </div>
    </md-card-title-media>
  </md-card-title>
  <md-card-content ng-if="game.buildings.gamblingHall">
    <md-input-container class="md-block" flex-gt-sm>
      <label>All or nothing</label>
      <input type="number" min="0" ng-model="gamblingHall.bet">
    </md-input-container>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" ng-if="game.buildings.gamblingHall">
    <md-button
      md-no-ink
      ng-disabled="game.totalGold < gamblingHall.bet || !gamblingHall.bet"
      class="md-primary md-raised"
      ng-click="gamblingHall.onClick($event)">
      Bet
    </md-button>
  </md-card-actions>
</md-card>
